h1 {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  text-shadow: 1px 1px 2px black;
  background-color: CornflowerBlue;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  box-shadow: -1px 1px grey;
}

.section_content {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  padding-top: 1px;
  box-shadow: 1px 1px black, -1em 0 .2em black;
}

.section_content h2 {
  color: white;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: CornflowerBlue;
  border-radius: 15px;
  text-shadow: 1px 1px 2px black;
}

.section_content code {
  border-left: 2px dotted Turquoise; /* Линия слева от текста */
  padding-left: 2%; /* Расстояние между линией и текстом */
  margin-left: 10%;
  color: blue;
  background-color: LightCyan;
}
