h1 {
  text-align: center;
  color: Turquoise;
}

.section_content {
  margin: 5%;
  border: 2px outset blue;
  border-radius: 20px;
}

.section_content h2 {
  color: Turquoise;
  padding: 5%;
}

.section_content code {
  border-left: 2px dotted Turquoise; /* Линия слева от текста */
  padding-left: 2%; /* Расстояние между линией и текстом */
  margin-left: 2%;
  color: blue;
}
