h1 {
  text-align: center;
  color: Turquoise;
}

.section_content {
  margin: 5%;
  border: 2px outset blue;
  border-radius: 20px;
}

.section-content h2 {
  color: Turquoise;
}

.section-content code {
  border-left: 2px dotted Turquoise; /* Линия слева от текста */
  padding-left: 10px; /* Расстояние между линией и текстом */
  margin-left: 10px;
}
