body {
  background-color: Gainsboro;
}

header, footer {
  height: 5%;
  background-color: Indigo;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1rem;
}

header {
  top: 0; left: 0; right: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
}

footer {
  bottom: 0; right: 0;
  width: auto;
  height: 3%;
  position: absolute;
  border-radius: 15px 0 0 15px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

footer button {
  width: auto;
  max-width: 90%;
  height: auto;
  border-radius: 50px;
  /*background-color: white;*/
  margin-top: auto;
  margin-left: 10px;
  background-color: Indigo;
  box-shadow: 0 0 10px black;
  border: 0;
  color: white;
}

#mainWindow {
  padding-top: 40px;
  padding-left: 13%;
  width: 85%;
  height: auto;
  background-color: Gainsboro;
}

#step_to_menu {
  width: auto;
  height: auto;
  background-color: Indigo;
  border-radius: 15px;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: white;
  position: fixed;
  top: 0; right: 0;
  margin-top: 5px;
  margin-right: 5px;
  border: 0;
}

#step_to_menu A, A:visited, A:active {
  color: white;
  text-decoration: none;
}

.contentCube {
  width: 40%;
  height: 40%;
  min-height: 30%;
  margin: 3px;
  padding: 3px;
  float: left;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}
.contentCube iframe {
  border-radius: 10px;
}

#mainNav {
  width: 10%;
  min-width: 10%;
  height: 80%;
  background-color: Indigo;
  position: fixed;
  top: 5.7%; left: 0;
  border-radius: 0 0 15px 0;
}

#mainNav button {
  border-radius: 5px;
  width: 95%; height: auto;
  min-height: 80px;
  max-width: 100%;
  border: 0;
  margin-top: 3px; margin-left: 3px;
  background-color: Indigo;
  box-shadow: 0 0 10px black;
  font-size: 1.2em;
  font-family: Comic;
  text-shadow: 1px 1px 2px black;
  color: white;
  overflow: hidden;
}

#mainNav button:hover, footer button:hover, #mainHeader button:hover {
	background: rgba(0,0,0,0);
	color: Lime;
	box-shadow: inset 0 0 0 2px Lime;
  border: 0;
}

#mainHeader {
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
}

.mainHeader_topButton {
  background-color: Indigo;
	margin: auto;
  margin-left: 3px;
  width: auto;
  height: 80%;
  min-height: 70%;
  border: 0;
  font-size: 1.1em;
  font-family: Comic;
  border-radius: 5px;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.subWind {
  width: 90%;
  height: auto;
  background-color: white;
  font-size: 1.2em;
  font-family: Comic;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0 0 10px black;
}
